<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache.core" version="4.1.1" targetFramework="MonoAndroid50" />
  <package id="akavache.sqlite3" version="4.1.1" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid50" />
  <package id="reactiveui" version="6.4.0.1" targetFramework="MonoAndroid50" />
  <package id="reactiveui-androidsupport" version="6.4.0.1" targetFramework="MonoAndroid50" />
  <package id="reactiveui-core" version="6.4.0.1" targetFramework="MonoAndroid50" />
  <package id="refit" version="2.2.1" targetFramework="MonoAndroid50" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.0.9" targetFramework="MonoAndroid50" />
  <package id="Rx-Core" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Main" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Splat" version="1.6.2" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw_basic" version="0.8.0" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.0.0.0" targetFramework="MonoAndroid50" />
</packages>